{% extends "base.html" %}
<title>{% block title %}Add College{% endblock %}</title>

{% block content %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="display: inline-block; margin-left: 20px; margin-bottom: 40px">Add College</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <!-- Form for adding new college data -->
            <form action="{{ url_for('college.add') }}" method="POST">
                {{ college_form.csrf_token }}
                <div class="form-group">
                    <label for="collegeCode" class="col-form-label">Code</label>
                    <input type="text" name="college_code" class="form-control" id="collegeCode" placeholder="CCS" required="required">
                </div>

                <div class="form-group">
                    <label for="collegeName" class="col-form-label">College</label>
                    <input type="text" name="college_name" class="form-control" id="collegeName" placeholder="College of Computer Studies" required="required">
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mb-2">Save</button>
                </div>
                <p class="message-text success" id="success_message">
                    {% if success_message %}
                        {{ success_message }}
                    {% endif %}
                </p>
                <p class="message-text error" id="error_message">
                    {% if error_message %}
                        {{ error_message }}
                    {% endif %}
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
