{% extends "base.html" %}
<title>{% block title %}Course{% endblock %}</title>

{% block content %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="display: inline-block; margin-left: 20px; margin-bottom: 40px">Course List</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-8 text-left">
            <input type="text" id="searchBar" placeholder="Search" style="display: inline-block; margin-left: 15px; width:35%;">
        </div>
        <div class="col-sm-4 text-right">
            <a href="{{ url_for('course.add')}}" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Add Course</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="courseTableDiv" style="max-height: 400px; overflow: auto;">
                <table class="table table-condensed text-center">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course</th>
                            <th>College Code</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ course.courseCode }}</td>
                                <td>{{ course.courseName }}</td>
                                <td>{{ course.collegeCode }}</td>
                                <td>
                                    <form action="/course/update" method="get" style="display: inline;">
                                        <input type="hidden" name="courseCode" value="{{ course.courseCode }}">
                                        <input type="hidden" name="courseName" value="{{ course.courseName }}">
                                        <input type="hidden" name="collegeCode" value="{{ course.collegeCode }}">
                                        <button class="btn btn-warning btn-sm" type="submit">Edit</button>
                                    </form>                     
                                    <a href="{{ url_for('course.delete') }}" class="btn btn-warning btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToCourse() {
        window.location.href = "{{ url_for('course.index') }}";
    }
</script>
{% endblock %}