{% extends "base.html" %}
<title>{% block title %}Delete Course{% endblock %}</title>

{% block content %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="display: inline-block; margin-left: 20px; margin-bottom: 40px">Delete Course</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Warning!</h4>
                <p>Are you sure you want to delete this course?</p>
            </div>
           
            <div class="form-group text-center">
                <form action="{{ url_for('course.delete') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="courseCode" value="{{ courseCode }}">
                <button type="submit" class="btn btn-secondary mb-2" style="background-color: red; color: white;">Confirm</button>
                <a href="{{ url_for('course.index') }}" class="btn btn-secondary mb-2">Cancel</a>
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}