{% extends "base.html" %}
<title>{% block title %}Student{% endblock %}</title>

{% block content %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1 style="display: inline-block; margin-left: 20px; margin-bottom: 40px">Student List</h1>
        </div>
    </div>
    <div class="row" style="margin-bottom: 5px;">
        <div class="col-sm-8 text-left">
            <input type="text" id="searchBar" placeholder="Search" style="display: inline-block; margin-left: 15px; width:35%;">
        </div>
        <div class="col-sm-4 text-right">
            <a href="{{ url_for('student.add')}}" class="btn btn-primary" style="display: inline-block; margin-right: 10px;">Add Student</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div id="courseTableDiv" style="max-height: 400px; overflow: auto;">
                <table class="table table-condensed text-center">
                    <thead>
                        <tr>
                            <th>Student ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Course</th>
                            <th>Year</th>
                            <th>Gender</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{ student.studentID }}</td>
                                <td>{{ student.firstName }}</td>
                                <td>{{ student.lastName }}</td>
                                <td>{{ student.course }}</td>
                                <td>{{ student.year }}</td>
                                <td>{{ student.gender }}</td>
                                <td>                     
                                    <a href="{{ url_for('student.update') }}" class="btn btn-warning btn-sm">Edit</a>
                                    <a href="{{ url_for('student.delete') }}" class="btn btn-warning btn-sm">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<script>
    function redirectToStudent() {
        window.location.href = "{{ url_for('student.index') }}";
    }
</script>
{% endblock %}